<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealthify - Home</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">
                <a href="home.html">
                    <img src="../images/logo_p9.ico" alt="Wealthify Logo">
                </a>
                <span class="logo-name">Wealthify</span>
            </div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="transactions.html">Transactions</a></li>
                <li><a href="reports.html">Reports</a></li>
                <li class="active"><a class="active" href="support.html">Support</a></li>
                <button id="logoutBtn">Sign Out</button>
            </ul>
        </div>
    </nav>
    <h1>Welcome!</h1>
    <p>Support</p>


    <script src="../assets/js/home.js" type="module"></script>
    <script src="../assets/js/navbar.js"></script>
</body>
</html>
